.field-with-headline {
  /*counter-increment: count;*/
  counter-increment: none;
}
.accordion {
  counter-increment: count;
}
.field-with-headline {
    margin-top: 1em;
    margin-bottom: 0;
}
.field-with-headline:first-child {
  padding-top: 0;
}
.field-with-headline .hgroup span {
  padding-left: 1.5em;
}
.field-with-headline .hgroup:before {
  position: absolute;
  content: counter(count, decimal-leading-zero);
  left: 0.5em;
  top:20%;
  color: #8dae28;
  font-weight: 400;
}
.field-with-headline .hgroup:after {
  position: absolute;
  content: "+";
  right: 1em;
  top:20%;
  color:#fff;
  font-size:1.5em;
  cursor:pointer;
}
.field-with-headline .hgroup.active:after {
  content: "−";
}
.field-with-headline .hgroup .hgroup-title {
  border:none;
  padding:0.5em 1em 0.5em 2em;
  background:rgba(0,0,0,0.75);
    color: #fff;
}